body, html {
    height: 100%;
    font-family: Aldrich;
    margin: 1px;
}

#img1 {
	background-image: url("../Images/secondTree.png");
	height: 85%;
}
#img2 {
	background-image: url("../Images/HDRGoldenGate.png");
}
#img3 {
	background-image: url("../Images/bowlingAlley.png");
}
.img {
	height:100%;
	background-size: cover;
	background-attachment: fixed;
	background-color: blue;
	z-index: 0;
}
.text {
	height: 50%;
	width: 100%;
	background-color: white;
	z-index: 1;
	padding: 10px;
}

.header{
	width: 100%;
	position: fixed;
	z-index: 2;
	background-color: grey;
	top: 0;
	left: 0;
	padding: 5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 10px 10px 10px 10px;
    font-size: 150%;
    color: white;
}

a {
	text-decoration: none;
	color: white;

}
a:hover {
	background-color: white;
}

