body, html {
    height: 100%;
    font-family: Aldrich;
    margin: 0;
}

#img1 {
	background-image: url("../Images/Beachimg.jpg");
}
#img2 {
	background-image: url("../Images/forestClearing.jpg");
}
#img3 {
	background-image: url("../Images/Beachimg.jpg");
}
.img {
	height:100%;
	background-size: cover;
	background-attachment: fixed;
	background-color: blue;
	z-index: 0;
}
.text {
	height: 50%;
	width: 100%;
	background-color: grey;
	z-index: 1;
}

.header{
	width: 100%;
	position: fixed;
	z-index: 2;
	background-color: grey;
	top: 0;
	left: 0;
	opacity: 0.75;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 10px 10px 10px 10px;
    padding-top: 10px;
}

a {
	text-decoration: none;
	color: white;
	font-size: 150%;
}
li:hover {
	background-color: white;
	
}

