<!DOCTYPE html>
<html>
<head>    

    <%- include("../partials/head") %>

    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" href="./CSS/gallery.css">

</head>

<body>

    <%- include("../partials/header") %>

	<div id="body">

		<div>
			<p>Coming Soon!!</p>
		</div>

	</div>

	<%- include("../partials/footer") %>

</body>

</html>