<!-- EJS partials/header.ejs-->

<header>

    <a href="/index.html"><p class="headLink">Home</p></a>
    <a href="/resume.html"><p class="headLink">Resume</p></a>
    <a href="/projects.html"><p class="headLink">Projects</p></a>
    <a href="/gallery.html"><p class="headLink">Gallery</p></a>
    <!-- <p class="headLink"><a href="/calender/calenderPage.html">Calender</a></p> -->

</header>