<!-- snake Game v1.1 -->
<!-- February 13, 2016 -->
<!DOCTYPE html>
<html>

<head>
  <title>Snake</title>

  <%- include("../partials/head"); %>

  <script type="text/javascript" src="/Javascript/snake/snake.js"></script>
  <link rel="stylesheet" type="text/css" href="/CSS/snake.css">
</head>

<body onload="init()">

		<%- include("../partials/header"); %>

    <div id="body">

      <div id="container">
        <canvas id='snakeCanvas' height='482px' width='587px'>Sorry your browser does not support this!!</canvas>

        <div id="controlFrame">
          <p id="title">TicTacToe</p>
          <p id="score">Score: 0</p>
          <p id="status">Status: Ok</p>
          <p id="desc">Press enter to start or pause. Use the arrow keys or WASD keys to move around. PS. its still a work in progress.</p>
          <button onclick="init()">Reset</button>
        </div>
      </div>
    </div>   

	<%- include("../partials/footer"); %>
    
</body>

</html>