<!DOCTYPE html>
<html>
<head>
    <title>Resume</title>
    
    <%- include("../partials/head") %>

	<style type="text/css">
		#body {
            margin:  1vw 9vw 0 9vw;
            padding: 10px;
            border: dashed 1px black;
            font-family:Arial;
		}

		h1 {
			text-align: center;
		}
		#center {
			text-align: center;
		}
		#bold{
			margin: 0;
			padding: 0;
		}
		#info{
			margin: 0;
			padding: 0;
			font-size: inherit;
		}
		hr{
			margin: 0;
		}
		ul {
		  list-style-type: none;
        }

        #resLink{
            text-decoration: underline;
            color:blue;
        }

        @media (max-width: 780px) {

            #body {
                margin:  1vw 2vw 0 2vw;
		    }

        }   
        
        
	</style>
</head>
<body>
    <%- include("../partials/header") %>
    <div id="body">
    
        <h1>Maxwell A. DeVos</h1>
        <p id="center">Cherokee, Iowa | 712-229-9631 | MaxDeVos@iastate.edu | <a id="resLink" href="https://github.com/maxdevos49">https://github.com/maxdevos49</a></p>
        <hr>
        <p id="bold"><b>Objective</b></p>
        <hr>
        <p id="info">
            <ul style="margin-top: 0;"><li>I am a motivated freshmen looking for a summer internship to gain experiance for my software Engineering major. I enjoy learning new things and like to solve every problem in the most efficent way. I am willing to expand my knowledge in anyway that I can.</li>
            </ul>
        </p>
        <hr>
        <p id="bold"><b>Education</b></p>
        <hr>
        <p id="info">
            <span style="float: left;"><b>Iowa State University </b></span>
            <span style="float: right;"><b>Expected Graduation: May 2021</b></span>
        </p>
        <br>
        <ul style="margin-top:0;">
            <li>Freshmen | Software Engineering</li>
        </ul>
            <p id="info">
            <span style="float: left;"><b>Washington High School</b></span>
            <span style="float: right;"><b>Graduated: May 21, 2017</b></span>
        </p><br>
        <ul style="margin-top:0;">
            <li>Class Rank 23/60 | GPA 3.5 | Blood Donor Recognition(Gallon Grad)</li>
        </ul>
        <hr>
            <p id="bold"><b>Internships</b></p>
        <hr>
        <p id="info">
            <b>
            <span style="float: left;">Icon Ag&Turf</span>
            <span style="float: right;">Job Title: IT Intern</span>
            </b>
        </p><br>
        <p id="info">
        <ul style="margin-top: 0;"><li>Le Mars, Iowa - 35 hours weekly (3 Months for summer of 2017). Was an assistant to the IT Manager and traveled between the 5 different locations fixing varius issues like printing, software, and other Technical issues. I ran new ethernet wires and installed a new security camera system in one location. I wrote a powershell script to add new employees into the active directory system more efficently.
        </li></ul></p>

        <hr>
            <p id="bold"><b>Employment History</b></p>
        <hr>
            <p id="info">
            <b>
            <span style="float: left;">HyVee</span>
            <span style="float: right;">Job Title: Stocker,Curtesy and Checker</span>
            </b>
        </p><br>
        <p id="info">
        <ul style="margin-top: 0;"><li>Cherokee, Iowa - (November 2014, present). I have gained useful customer interaction experience through this job and have learned to apply it to other jobs.
        </li></ul></p>

        <hr>
        <p id="bold"><b>Skills</b></p>
        <hr>
        <p id="info">
            <b>Languages</b>
            <ul style="margin-top: 0; margin-bottom: 0;">
                <li>HTML: 3 Years</li>
                <li>CSS: 3 Years</li>
                <li>Javascript: 3 Years</li>
                <li>PHP: 2 Years</li>
                <li>Powershell: 1 Year</li>
            </ul>
            <b>Programs</b>
            <ul style="margin-top: 0; margin-bottom: 0;">
                <li>Blender 3D Modeling Program: 4 Years</li>
                <li>Word: 3 years</li>
                <li>Excel: 3 years</li>
                <li>PowerPoint: 3 Years</li>
            </ul>
        </p>
        <hr>
        <p id="bold"><b>Extra Curricular Activities</b></p>
        <hr>
        <p id="info">
        <b>Clubs</b>
            <ul style="margin-top: 0; margin-bottom: 0;">
                <li>Web Development Club</li>
                <li>Information Security Club</li>
                <li>ISU Juggling & Unicycling Club</li>
            </ul>
        </p>

    </div>

    <%- include("../partials/footer") %>

</body>
</html>