body{
	display:flex;
	flex-direction: column;
	font-family: "Aldrich";
	margin: 0;
}
header{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow:hidden;
	margin: 0;
	padding: 0;
	background-color: silver;
	font-size: 1.25em;
}

#headLink{
	padding: 0.5vw 0.5vw 0.5vw 0.5vw;

}
#headLink:hover{
	background-color:white;
}

#body{
	display: flex;
	align-items: center;
	background-color: rgb(224, 224, 224);
	width:100vw;
	justify-content: center;
}

#body div {
		width:85vw;
		height: 100vh;
		text-align: center;
		border: 10px solid rgb(172, 172, 172);
		border-radius: 10px;
		margin: 1vw;
}

#footer{
	display: flex;
	justify-content: center;
	align-items:center;
	background-color:white;
}

#footerTxt{
	
}

a{
	text-decoration: none;
	color: rgb(75, 72, 72);
}

/* @media (max-width: 780px) {
	
} */
