body{
	display:flex;
	flex-direction: column;
	font-family: "Aldrich";
	margin: 0;
	pading:0;
}
header{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow:hidden;
	margin: 0;
	padding: 0;
	background-color: silver;
	font-size: 1.25em;
}

#headLink{
	padding: 0.5vw 0.5vw 0.5vw 0.5vw;

}
#headLink:hover{
	background-color:white;
}

#body{

}

footer{
	
}

/* @media (max-width: 780px) {
	
} */
