html{
	background: white;
	padding: 0;
	margin:0;
	width:100%;
}
body {
	margin:0;
	padding: 0;
	font-family: 'Aldrich';
}


.header div {
	background:  #771414;
	color:white;
	width:100%;
	margin: 0;
	padding: 30px 0 30px 0;
	text-shadow: 3px 3px black;

}

.footer div {
	background: #771414;
	width:100%;
	margin: 0;
	padding: 0;
	color: grey;

}

#menuBar {
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	width:100%;
	background: silver;
	height:800px;

}

#menuBar td{
	color:white;
	text-shadow: 1px 1px black;
	box-shadow: 1px 1px white;
	text-align:center;
	padding: 30px 0 30px 0;

}

#menuBar td:hover{
	animation-name: test;
	animation-duration: 1s;
	background:red;
}

#mainBody {
	float: right;
	margin: 0;
	padding: 0;
	width:75%;
	background: white;
	height:800px;
}
a {
	text-decoration: none;
	color: grey;
}

#titleDiv {
	transform: rotate(-8deg);
	width:30%;
	background: #beba46;
	margin: -100px 0 0 0;
	
}
#titleDiv2 {
	transform: rotate(7deg);
	width:30%;
	background: #beba46;
	

}

.highlight {
	background: #beba46;
	width: 100%;
	height:5px;

}

@keyframes test{
	from {background-color: #8bd3fb;}
	to {background-color: red;}
}

*{
	margin: 0;
	padding: 0;

}