body{
	font-family: Aldrich;
	display:flex;
	flex-direction: column;
	margin:0;
	padding:0;
}


.img {
	height:100vh;
	z-index: 0;
	background-size: cover;
	background-attachment: fixed;
	background-color: white;
	
}
#img1 {
	background-image: url("../Images/secondTree.png");
}
#img2 {
	background-image: url("../Images/HDRGoldenGate.png");
}
#img3 {
	background-image: url("../Images/bowlingAlley.png");
}
.text {
	background-color: grey;
}

header{
	position: fixed;
	z-index: 10;
	display: flex;
	flex-direction: row;
	background-color: grey;
	justify-content: flex-start;
	width:100vw;
}

.headLink{
	padding: 0.5vw;
	font-size: 1.25em;
}

.headLink:hover{
	background-color: white;
	color: grey;
}

a {
	text-decoration: none;
	color: rgb(226, 221, 221);
}

footer{
	display: flex;
	justify-content: center;
	align-content: center;
}

#terminalBackground{
	background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#c3c6cc 15%, black 16%); /* Safari 5.1-6.0 */
    background: -o-linear-gradient(#c3c6cc 15%, black 16%); /* For Opera 11.6 to 12.0 */
    background: -moz-linear-gradient(#c3c6cc 15%, black 16%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c3c6cc 15%, black 16%); /* Standard syntax (must be last) */
	
	color: #4dff26;
	border-radius: 5px;
	font-family: "courier new", Courier, monospace;
}

#editorBackground{
	background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#c3c6cc 9%, #393c42 10%); /* Safari 5.1-6.0 */
    background: -o-linear-gradient(#c3c6cc 9%, #393c42 10%); /* For Opera 11.6 to 12.0 */
    background: -moz-linear-gradient(#c3c6cc 9%, #393c42 10%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#c3c6cc 9%, #393c42 10%); /* Standard syntax (must be last) */
	
	color: white;
	border-radius: 5px;
}

#txt3{
	background-color: silver;
}


