
.img {
	height:100vh;
	z-index: 0;
	background-size: cover;
	background-attachment: fixed;
	background-color: white;
	
}

header{
	position: fixed;
	z-index: 10;
}
#img1 {
	background-image: url("../Images/secondTree.png");
}
#img2 {
	background-image: url("../Images/HDRGoldenGate.png");
}
#img3 {
	background-image: url("../Images/bowlingAlley.png");
}
.text {
	background-color: grey;
	padding:1vw;
	position: relative;
	color: white;
}

#myTitle{
	text-align: center;

	background-color: white;
	color: black;
	border-radius: 5px;
	width: 50vw;

	position: absolute;
	top: 13vh;
	left: 25vw;
	padding:0.75vw;

}

a {
	text-decoration: none;
	color: #91f07b;
}



#terminalBackground{
	background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#c3c6cc 2vh, black 2vh); /* Safari 5.1-6.0 */
    background: -o-linear-gradient(#c3c6cc 2vh, black 2vh); /* For Opera 11.6 to 12.0 */
    background: -moz-linear-gradient(#c3c6cc 2vh, black 2vh); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c3c6cc 2vh, black 2vh); /* Standard syntax (must be last) */
	
	color: #4dff26;
	border-radius: 5px;
	font-family: "courier new", Courier, monospace;

	padding-top: 3vh;
	padding-left: 0.25vw;

	overflow: hidden;
}

#editorBackground{
	background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#c3c6cc 2vh, #393c42 2vh); /* Safari 5.1-6.0 */
    background: -o-linear-gradient(#c3c6cc 2vh, #393c42 2vh); /* For Opera 11.6 to 12.0 */
    background: -moz-linear-gradient(#c3c6cc 2vh, #393c42 2vh); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#c3c6cc 2vh, #393c42 2vh); /* Standard syntax (must be last) */
	
	color: white;
	border-radius: 5px;

	padding-top: 3vh;
	padding-left: 0.25vw;

	overflow: hidden;
}


.blinking-cursor {
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
  }
  
  @keyframes blink {
	from, to {
	  color: transparent;
	}
	50% {
	  color: #4dff26;
	}
  }
  
  @-moz-keyframes blink {
	from, to {
	  color: transparent;
	}
	50% {
	  color: #4dff26;
	}
  }
  
  @-webkit-keyframes blink {
	from, to {
	  color: transparent;
	}
	50% {
	  color: #4dff26;
	}
  }
  
  @-ms-keyframes blink {
	from, to {
	  color: transparent;
	}
	50% {
	  color: #4dff26;
	}
  }
  
  @-o-keyframes blink {
	from, to {
	  color: transparent;
	}
	50% {
	  color: #4dff26;
	}
  }






@media only screen and (max-width: 600px) {
	.text {
		padding: 2vw;
	}
	
	#myTitle{
		padding: 2vw;
		width: 75vw;
		left: 12.5vw;
	}
}