

header{
	background:  #771414;
	color:white;
	text-shadow: 3px 3px black;
}

.headLink:hover {
	background-color: red;
}

.highlight {
	background: #beba46;
	width: 100vw;
	height:1vh;

}

#body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-size: 1em;
	background-color: rgb(105, 97, 97);
}

footer{
	background: #771414;
	color: white;
	text-shadow: 3px 3px black;
}

.projectBox {
	width: 75vw;
	height: 20vw;
	display:flex;
	flex-direction: row;
	background-color: rgb(105, 97, 97);
	border: solid #771414 7px;
	border-radius: 5px;
	margin: 1vh 0 1vh 0;
	overflow: hidden;
	padding: 5px;
}

.projectBox:hover{
	  
	border-color: red;
}

.projectImg {
	width: 50%;
	border-radius: 10px;
	/* background-image: url("../Images/pacman.png"); */
	background-size: contain;
	background-repeat: no-repeat;
}

.projectDesc {
	width:50%;
	overflow: hidden;
	padding: 4px;
}


a {
	color: whitesmoke;
}

@media (max-width: 780px) {

	.desc{
		display: none;
	}

}