<!DOCTYPE html>
<html>
	<head>

		<title>Page Template</title>
        
        	<%- include("../partials/head") %>
		  
	</head>
	<body>
		<%- include("../partials/header") %>
			
		<div id="body" style="background-color: silver; height: 75vh">
			<p>Uh oh! www.thatonespot.me<%= url%> was not found!</p>
		</div>

        <%- include("../partials/footer") %>
	</body>
</html>