<!-- tic tac toe v1.0 -->
<!-- February 2, 2016 -->
<!DOCTYPE html>
<html>

  <head>
	<title>Tic Tac Toe</title>
	  <%- include("../partials/head") %>

    <script type="text/javascript" src="/Javascript/tictactoe/tictactoe.js"></script>
    <link rel="stylesheet" type="text/css" href="/CSS/tictactoe.css">

  </head>

  <body onload="requireOnce();init();">
    
    <%- include("../partials/header") %>
    
    <div id="body">

      <div id="container">

        <canvas id='ticTacToeCanvas' height='500px' width='600px'>If you see this you must still be in 2005!</canvas>

        <div id="controlFrame">

          <p id="title">TicTacToe</p>
          
          <div class="playerBox">
            <p class="name"><span id="player1">*</span>Player 1</p>
            <p id="player1Score" class="score">0 Wins</p>
          </div>

          <div class="playerBox">
            <p class="name"><span id="player2"></span>Player 2</p>
            <p id="player2Score" class="score">0 Wins</p>
          </div>

          <button onclick="resetGame()">Reset</button>

        </div>
      </div>
    </div>
	  <%- include("../partials/footer") %>
  </body>
</html>