<html>

	<head>

	<title>My Projects</title>
	<!-- Made By the Maxwell DeVos starting on July 19, 2017 -->

	<%- include("../partials/head") %>

	<link rel="stylesheet" type="text/css" href="../CSS/projects.css">
	<meta name="keywords" content="Projects">

	</head>

	<body>

		<%- include("../partials/header") %>

		<div class='highlight'></div>

		<div id='body'>

			<a href="https://adventuresconquest.herokuapp.com/">
					<div class="projectbox">
	
						<div class="projectDesc">
							<p>Adventures Conquest</p>
							<hr>
							<p>A multiplayer game that I helped contribute to at the Spring 2018 ISU Hackathon. This project won first place with the software prize.</p>
						</div>

						<div class="projectImg"><img src="/Images/advConquest.png" height="100%" width="100%"></div>
	
					</div>
				</a>

			<a href="/pacman.html">
				<div class="projectbox">

					<div class="projectImg"><img src="/Images/pacman.png" height="100%" width="100%"></div>

					<div class="projectDesc">
						<p>Pacman</p>
						<hr>
						<p>Pacman game I made in my junior year of highschool to learn javascript and the html5 canvas</p>
					</div>

				</div>
			</a>

			<a href="/snake.html">
					<div class="projectbox">
	
						<div class="projectDesc">
							<p>Snake</p>
							<hr>
							<p>Snake game I made my junior year of highschool</p>
						</div>

						<div class="projectImg"><img src="/Images/snake.png" height="100%" width="100%"></div>
	
					</div>
				</a>

				<a href="/paint.html">
						<div class="projectbox">
		
							<div class="projectImg"><img src="/Images/paint.png" height="100%" width="100%"></div>
		
							<div class="projectDesc">
								<p>Paint</p>
								<hr>
								<p>My second html5 canvas program I made</p>
							</div>
		
						</div>
					</a>

					<a href="/tictactoe.html">
							<div class="projectbox">
			
								<div class="projectDesc">
									<p>TicTacToe</p>
									<hr>
									<p>A tic tac toe game I made using the html5 canvas</p>
								</div>

								<div class="projectImg"><img src="/Images/tictactoe.png" height="100%" width="100%"></div>
			
							</div>
						</a>

			<!-- <a href='/projects/BlockJumper.html'><h1>Block Jumper</h1></a> -->

					
		</div>
		
		<%- include("../partials/footer") %>

	</body>
</html>
