<!DOCTYPE html>
<html>
	<head>

		<title>Page Template</title>
        
        	<%- include("../partials/head") %>
		  
	</head>
	<body>
		<%- include("../partials/header") %>
			
		<div id="body">
			
		</div>

        <%- include("../partials/footer") %>
	</body>
</html>