<!-- web paint v1.1 -->
<!-- February 2, 2016 -->
<!DOCTYPE html>
<html>

<head>
  <title>Paint</title>

  <%- include("../partials/head") %>
  <script type="text/javascript" src="/Javascript/paint/paint.js"></script>
  <link rel="stylesheet" type="text/css" href="/CSS/paint.css">

</head>

<body onload="init()">

		<%- include("../partials/header") %>

    <div id="body">
      <div id="container">

        <canvas id='drawingCanvas' height='500px' width='600px'>If you see this you must still be in 2005!</canvas>
    

        <div id="controlFrame">
          <p id="title">Paint!</p>

          <p id="desc">This is a simple paint program! Draw on the white canvas and to save right click the canvas. It has some issues right now but they will be fixed soon!</p>
          
          <div id="colorFrame">
            <p>Colors:</p>
            <button class="colorButts" onclick="changeColor('red')" style="background:red;"></button>
            <button class="colorButts" onclick="changeColor('orange')" style="background:orange;"></button>
            <button class="colorButts" onclick="changeColor('yellow')" style="background:yellow;"></button>
            <button class="colorButts" onclick="changeColor('green')" style="background:green;"></button>
            <button class="colorButts" onclick="changeColor('blue')" style="background:blue;"></button>
            <button class="colorButts" onclick="changeColor('purple')" style="background:purple;"></button>

          </div>
          <div id="eraserFrame">

            <button class="eraserButt" onclick="changeColor('white')" style="background:white;"></button>

          </div>
          <div id='tipFrame'>
    
              <p id='tip'>Tip Diameter: 10px</p>
              <button class="tipBut" onclick='changeTipSize(tipSize - 1)'> - </button>
              <button class="tipBut" onclick='changeTipSize(tipSize + 1)'> + </button>
              <p>Tip Shape</p>
              <button onclick='changeTipType("square")'>Square</button>
              <button onclick='changeTipType("circle")'>Circle</button>
            
          </div>
          
        </div>

      </div>
    </div>

	<%- include("../partials/footer") %>
    
</body>

</html>